<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/iconfont/iconfont.css" type="text/css">
  <script type="text/javascript" src="../../js/config/index.js"></script>
  	<script src="http://static.namenb.com/web/js/?tcbox" type="text/javascript"></script>
	<script src="../static/js/rubilk.js"></script>
	<!-- Madong -->
	<style>
		body{width: 100%;height: 100%; font-size: 16px;color: #fff;font-weight: lighter;overflow: hidden;}
		#admin_console{width: 100%;height: 100%}
		.t_icon{margin: 0 2px;cursor: pointer;}
		.icon-all_edit{color: #03a9f4;}
		.icon-all_delete{color: #ff2d2dad}

		.gong .paging{display: flex;align-items: center;justify-content: center;float: none;}
	</style>
	<script type="text/javascript">
		var _user = store.get('userinfo');
		function getdata() {
			httpx.get(globalApi_+'/box/project/list/',{"token":_user.token},function(data){
				var _data = JSON.parse(data);
				if(_data.success)vmup(listData,_data);
			});
		}
		getdata();
	</script>
</head>
<body>
	<div id="admin_console">
		<!-- 主体 -->
		<div class="main">
			<div class="main_sideLf">
				<ul>
					<li><a href="project_list.html"><img src="../static/images/photo1.png" alt=""><span>项目列表</span></a></li>
					<li><a href="project_add.html"><img src="../static/images/photo2.png" alt=""><span>新增项目</span></a></li>
					<li class="cur"><a href="project_zp_list.html"><img src="../static/images/zuoping.png" alt=""><span>作品列表</span></a></li>
				</ui>
			</div>

			<div class="main_sideRh">
				<div class="update-box">
					<div>
						<div class="up_btn_head">
							<div class='add_title'>作品列表<span>&nbsp;&nbsp;Work List</span></div>
							<div class="up_btn_sou">
								<div class="up_btn_sou_lf">
									<span class="up_btn_sou_lf_up" onclick='b_video()'>上传项目</span><span class="up_btn_sou_lf_delete" id="del_all">删除</span>
								</div>
								<div class="up_btn_sou_rh">
									<input placeholder="项目关键字" type="text"><div id='sousou'><img src="../static/images/sou.png" alt=""></div>
								</div>
							</div>
						</div>
						<div>
							<table class="v_tabmain">
								<thead>
									<tr>
										<th><input type="checkbox" id="Select_all"><span>作品信息</span></th>
										<th>状态</th>
										<th>作品来源</th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr class='content' v-for="tt in data" v-if="tt.status != 9">
										<td>
											<input type="checkbox" name="id" :value="tt.id">
											<img :src="tt.arrall.cover | is_cover">
											<span>{{tt.name}}</span>
										</td>
										<td><img src="../static/images/gou.png">正常</td>
										<td>上传</td>
										<td>{{tt.time | timenow}}</td>
										<td>
											<div :onclick="'_del('+tt.id+')'">删除</div>
											<div><a :href="'project_details.html?id='+tt.id">修改</a></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- <div class="gong">
						<div class="paging">
							<p>
								<a href=""><</a>
								<a href="">1</a>
								<a href="">2</a>
								<a href="">3</a>
								<a href="">></a>
								<a href="">共3页</a>
							</p>
						</div>
					</div> -->
				</div>

			</div>
		</div>	
	</div>
<script>
var default_data={"success": true,"total": 1, "data": [{"id": "5","name": "测试项目","workers": "项目经理","status": "1","arrall": {"cover": globalApi_+"/box/upfiles/upload/pic/uid4/2019/03/25/155351534233950.jpg","name": "测试项目","nickname": "客户B","phone": "13845458888","workers": "项目经理","originality": "这是策划","status": "1"},"time": "1553585347"}]}
var del_data = {'token':_user.token,'status':'9','id':[]};
var listData = new Vue({el: '#admin_console',data:default_data});


Vue.filter('is_cover', function (str) {if(!str){return '../static/images/nopic.png'}else{return str}});
Vue.filter('location', function (str) {
	switch (str){
		case '1': return '已下订单';
		break;case '2': return '已签合同';
		break;case '3': return '已完工';
	}
});

function _del(_id) {
	del_data.id = JSON.stringify(_id);
	layer.open({
		content: '真的要删掉我吗？'
		,btn: ['是的', '算了']
		,yes: function(index, layero){
        	console.log(index+'----'+layero);
            httpx.post(globalApi_+'/box/project/update/',del_data,function (ent) {msg(JSON.parse(ent).info);getdata()})
      	}
    });
}
//全选
$("#Select_all").on('click', function() {$("tbody input:checkbox").prop("checked", $(this).prop('checked'));})
$("tbody input:checkbox").on('click', function() {
    //当选中的长度等于checkbox的长度的时候,就让控制全选反选的checkbox设置为选中,否则就为未选中
    if($("tbody input:checkbox").length === $("tbody input:checked").length) {$("#Select_all").prop("checked", true);} else {$("#Select_all").prop("checked", false);}
})
$('#del_all').on('click',function () {
	var vals = [];
	$('tbody input:checkbox:checked').each(function (index, item) {vals.push($(this).val());});
	_del(vals)
})

function b_video(){
	layer.open({
	  type: 2,
	  title: ['上传视频','color:#3c3c3c;background:#fff;font-weight:bold;font-size:16px;border-bottom:1px solid #bcbcbc;'],
	  closeBtn: 1,
	  area: ['655px', '400px'],
	  shadeClose: true,
	  content: '../lib/b_video.html',
	  end: function () {//无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
		//location.reload();　　//layer.open关闭刷新
		getdata();
	  }
	});
}


</script>
</body>
</html>