<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>图片列表</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/iconfont/iconfont.css" type="text/css">
	<script type="text/javascript" src="../../js/config/index.js"></script>
  	<script src="http://static.namenb.com/web/js/?tcbox" type="text/javascript"></script>
	<!-- Madong -->
	<style>
		body{width: 100%;height: 100%; font-size: 16px;color: #fff;font-weight: lighter;overflow: hidden;}
		#admin_console{width: 100%;height: 100%}
		.t_icon{margin: 0 2px;cursor: pointer;}
		.icon-all_edit{color: #03a9f4;}
		.icon-all_delete{color: #ff2d2dad}

		.gong .paging{display: flex;align-items: center;justify-content: center;float: none;}
	</style>
	<script type="text/javascript">
	Vue.filter('is_status', function (str) {if(str == 0){return '上传中';}else if(str == 1){return '已完成';}});

	var _user = store.get('userinfo');
	var _picsApi = globalApi_+"/box/pics/list/";
	var _uppicApi = globalApi_+"/box/ucenter/uppic/";
	var _updateApi = globalApi_+"/box/pics/update/";
	var del_data = {'token':_user.token,'status':'9','id':[]};
	var requestData = {'token':_user.token,"pagesize":500,"order":JSON.stringify({"time":"DESC"}),"filter":JSON.stringify({"status[!]":"9"})};
	var default_data = {"success":true,"total":1,"page":1,"totalpage":1,"data":[{"id":"6","uid":"4","gid":"3","tags":"","picurl":"","status":"0","sort":"0","time":"1555334697"}]};
	function getdata() {httpx.post(_picsApi,requestData,function (data){var _data = JSON.parse(data);if(_data.success)vmup(_app,_data)})}
	getdata();
	</script>
</head>
<body>
	<div id="admin_console">
		<!-- 主体 -->
		<div class="main" id="App">
			<div class="main_sideLf">
				    <div class="sidebar-menu">
                   <ul>
						<li class="sidebar-dropdown active">
							<a  href="javascript:;" >
								<i class="fa fa-tv"><img src="../static/images/photo1.png" alt=""></i><span>图片管理</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="photo_list.html">相册分类</a> </li>
									<li><a href="picture_list.html">图片列表</a></li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="javascript:;">
								<i class="fa fa-photo"><img src="../static/images/photo1.png" alt=""></i><span>视频管理</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="video_tags.html">视频分类</a></li>
									<li><a href="index.html">视频列表</a></li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="javascript:;">
								<i class="fa fa-photo"><img src="../static/images/photo1.png" alt=""></i>
								<span>微文圈</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="Weiwen/index.html">微文列表</a></li>
									<li><a href="Weiwen/add.html">添加微文</a></li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="javascript:;">
								<i class="fa fa-photo"><img src="../static/images/photo1.png" alt=""></i>
								<span>产品库</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li><a href="product/product.html">我的产品</a></li>
									<li><a href="product/index.html">产品列表</a></li>
									<li><a href="product/add.html">添加产品</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="FastUp.html">
								<i class="fa fa-tv"><img src="../static/images/photo1.png" alt=""></i><span>闪传视频</span>
							</a>
						</li>
						<li>
							<a href="auto-upVideo.html">
								<i class="fa fa-photo"><img src="../static/images/photo1.png" alt=""></i><span>我们的视频</span>
							</a>
						</li>
						<li>
							<a href="FileUp.html">
								<i class="fa fa-photo"><img src="../static/images/photo1.png" alt=""></i><span>文件上传</span>
							</a>
						</li>
						<li>
							<a href="database.html">
								<i class="fa fa-bar-chart-o"><img src="../static/images/photo1.png" alt=""></i><span>资料库</span>
							</a>
						</li>
					</ul>
                </div><!-- sidebar-menu  -->
			</div>

			<div class="main_sideRh">
				<div class="update-box">
					<div>
						<div class="up_btn_head">
							<div class='add_title'>图片列表<span>&nbsp;&nbsp;Picture List</span><span style="margin-left: 20px;font-size: 16px">(关于我们栏目)</span></div>
							<div class="up_btn_sou">
								<div class="up_btn_sou_lf">
									<span class="up_btn_sou_lf_up" onclick="uppic()">上传图片</span>
									<span class="up_btn_sou_lf_delete">删除</span>
								</div>
								<!-- <div class="up_btn_sou_rh">
									<input placeholder="视频关键字" type="text"><div id='sousou'><img src="../static/images/sou.png" alt=""></div>
								</div> -->
							</div>
						</div>
						<div>
							<table class="v_tabmain">
								<thead>
									<tr>
										<th><span>照片内容</span></th>
										<th>照片ID</th>
										<th class="kind">相册分类 <i class="select"></i></th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr class='content' v-for="(tt,index) in data"  v-if="data.length != 0 || tt.status !== 9">
										<td><input type="checkbox"><a class="spotlight" :href="tt.picurl" :data-description="tt.tags +' '+ timenow(tt.time)"><img :src="tt.picurl+'_s'"></a></td>
										<td>{{tt.id}}</td>
										<td>{{tt.tags}}</td>
										<td>{{tt.time | time}}</td>
										<td><span  class="t_icon iconfont icon-all_delete" :onclick="'_del('+tt.id+')'"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- <div class="gong">
					<div class="paging">
						<p>
							<a href=""><</a>
							<a href="">1</a>
							<a href="">2</a>
							<a href="">3</a>
							<a href="">></a>
							<a href="">共3页</a>
						</p>
					</div>
				</div> -->

			</div>
		</div>
	</div>
<script src="../static/js/rubilk.js"></script>
<script>

var _app = new Vue({el : "#App",data:default_data});
function _del(_id) {
	del_data.id = JSON.stringify(_id);
	layer.open({
		content: '真的要删掉我吗？',
		btn:['是的','算了'],
		yes:function(i,l){
			httpx.post(_updateApi,del_data,function (ent){msg(JSON.parse(ent).info);getdata()})
		}
	});
}
function uppic(){layer.open({type:2,title:'上传图片',loseBtn: 1,area: ['820px', '440px'],shadeClose: true,content:'../lib/updata.html',end:function (){getdata()}})}
function timenow(timeStamp) {
var d_minutes,d_hours,d_days;
var timeNow = parseInt(new Date().getTime()/1000);
var d;
d = timeNow - timeStamp;
d_days = parseInt(d/86400);
d_hours = parseInt(d/3600);
d_minutes = parseInt(d/60);
if(d_days>0 && d_days<4){return d_days+"天前";
}else if(d_days<=0 && d_hours>0){return d_hours+"小时前";
}else if(d_hours<=0 && d_minutes>0){return d_minutes+"分钟前";
}else{var s = new Date(timeStamp*1000);return (s.getMonth()+1)+"月"+s.getDate()+"日";}
}
</script>
</body>
</html>