html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
body{
	background:#fff;color:#333;font-size:12px; margin-top:5px;
	font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', tahoma, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
	user-select:none;
} 
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
a{text-decoration:none;color: inherit;} 
a:hover,a:active,a:focus{text-decoration:none;}
html{height: 100%;}
body{height: 100%;margin: 0;}

img{ pointer-events: none;}

#UL{overflow: hidden;height: 100%;width: 100%;background-color: #000;}
#UL li{
	width: 33.3333333333%;height: 100%;float: left;
	position: relative;background-size: 100% 100%!important;
}
#UL li:nth-child(1){background: url(../images/img1.jpg) no-repeat; }
#UL li:nth-child(2){background: url(../images/img2.jpg) no-repeat; }
#UL li:nth-child(3){background: url(../images/img3.jpg) no-repeat; }

#UL div{
	width: 100%;height: 312px; margin: auto;
    position: absolute;top: 0;left: 0;right: 0;bottom: 0;
}
#UL div img{display: block;margin: 0 auto;transition: 0.8s;}
#UL div img:first-child{margin-bottom: 56px;width: 20%;}
#UL div img:last-child{width: 58%;}

#UL div img:first-child:hover{width: 22%;}
#UL div img:last-child:hover{width: 64%;}


.to_ucenter{display: flex;height: 56px;position: fixed;right: 0;width: 56px;bottom: 0;margin: 0 72px 36px;}
.to_ucenter .grid{cursor: pointer;height: 40px;left: 8px;pointer-events: auto;position: absolute;background: #ffffff99;top: 8px;opacity: .45;border-radius: 50%;transition: all .3s cubic-bezier(.4,0,.2,1);width: 40px;}
.to_ucenter .grid svg{left: 10px;position: absolute;top: 10px;}
.to_ucenter .grid:hover{opacity: 1}

/* START TOOLTIP STYLES */
[tooltip] {position: relative;}/* opinion 1 */

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {text-transform: none;font-size: .9em;line-height: 1;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;        user-select: none;pointer-events: none;position: absolute;display: none;opacity: 0;}
[tooltip]::before {content: '';border: 5px solid transparent;z-index: 1001;}
[tooltip]::after {content: attr(tooltip); /* magic! *//* most of the rest of this is opinion */font-family: Helvetica, sans-serif;text-align: center;min-width: 3em;max-width: 21em;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding: 1ch 1.5ch;border-radius: .3ch;box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);background: #333;color: #fff;z-index: 1000; /* absurdity 2 */}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {display: block;}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {display: none !important;}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {bottom: 100%;border-bottom-width: 0;border-top-color: #333;}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {bottom: calc(100% + 5px);}
[tooltip]:not([flow])::before,[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,[tooltip][flow^="up"]::after {left: 50%;-webkit-transform: translate(-50%, -.5em);transform: translate(-50%, -.5em);}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {top: 100%;border-top-width: 0;border-bottom-color: #333;}
[tooltip][flow^="down"]::after {top: calc(100% + 5px);}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {left: 50%;-webkit-transform: translate(-50%, .5em);transform: translate(-50%, .5em);}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {top: 50%;border-right-width: 0;border-left-color: #333;left: calc(0em - 5px);-webkit-transform: translate(-.5em, -50%);transform: translate(-.5em, -50%);}
[tooltip][flow^="left"]::after {top: 50%;right: calc(100% + 5px);-webkit-transform: translate(-.5em, -50%);transform: translate(-.5em, -50%);}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {top: 50%;border-left-width: 0;border-right-color: #333;right: calc(0em - 5px);-webkit-transform: translate(.5em, -50%);transform: translate(.5em, -50%);}
[tooltip][flow^="right"]::after {top: 50%;left: calc(100% + 5px);-webkit-transform: translate(.5em, -50%);transform: translate(.5em, -50%);}

/* KEYFRAMES */
@-webkit-keyframes tooltips-vert {to {opacity: .9;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);}}
@keyframes tooltips-vert {to {opacity: .9;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);}}
@-webkit-keyframes tooltips-horz {to {opacity: .9;-webkit-transform: translate(0, -50%);transform: translate(0, -50%);}}
@keyframes tooltips-horz {to {opacity: .9;-webkit-transform: translate(0, -50%);transform: translate(0, -50%);}}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,[tooltip][flow^="down"]:hover::after 
{-webkit-animation: tooltips-vert 300ms ease-out forwards;animation: tooltips-vert 300ms ease-out forwards;}

[tooltip][flow^="left"]:hover::before,[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,[tooltip][flow^="right"]:hover::after
{-webkit-animation: tooltips-horz 300ms ease-out forwards;animation: tooltips-horz 300ms ease-out forwards;}